.navbar-default {
    background-color: #1455AB;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #4B92CE;
}

/*
#portfolioModal1 .modal-body {
    position: absolute;
}

#portfolioModal1 .modal-body iframe {
            display:block;
            position: absolute;
            top: 0px;
            left: 50%;
            margin-left: -512px;
            height: 500px;
}
*/

header {
    background: #A3DEEF;
}

section {
   /* background: #e3e4f7; */
   background: #A3DEEF;
}

section.success {
    color: #fff;
    /* background: #49e0b1; */
    background: #4FB3DA;
}

header hr.star-primary {
    border-color: #fff;
    background-color: #1455AB;
}

header hr.star-primary:after {
    color: #fff;
    background-color: #1455AB;
}

hr.star-primary:after {
    color: #fff;
    background-color: #1455AB;
}

hr.star-light:after {
    color: #fff;
    background-color: #1455AB;
}

footer.footer-below {
    background-color: #1455AB;
}