.navbar-default {
    background-color: #078f92;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0052ff;
}


#portfolioModal1 .modal-content .modal-body {
    position: relative;
}

#portfolioModal1 .modal-content .modal-body iframe {
            display:block;
            position: relative;
            top: 0px;
            left: 50%;
            margin-left: -512px;
            height: 500px;
}


header {
    background: #00bea6;
}

section {
   /* background: #e3e4f7; */
   background: #00bea6;
}

section.success {
    color: #fff;
    /* background: #49e0b1; */
    background: #0f8c8a;
}

header hr.star-primary {
    border-color: #fff;
}

header hr.star-primary:after {
    color: #fff;
    background-color: #00bea6;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #00bea6;
}

hr.star-light:after {
    color: #fff;
    background-color: #0f8c8a;
}

footer .footer-below {
    background-color: #0052ff;
}